@model BaseViewModel;

<section class="form1 cid-qRmX9FWG5z" id="form5-4i">
    <div class="container">
        <div class="mbr-row mbr-justify-content-center">

            <div class="mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">

                <div data-form-type="formoid">
                    <form method="post" target="_top" action-xhr="@(Model.PageBaseCanonicalUrl)/home/checkemail" data-form-title="Free-Email-Check" novalidate="">

                        <div class="fieldset">
                            <input type="hidden" name="form[data][1][0]" value="Email" id="form[data][0][0]-form5-4i" data-form-field="">
                            <input class="input-label" type="email" name="email" data-form-field="Email" placeholder="Email" required="" id="form[data][0][1]-form5-4i">
                        </div>
                        <div class="align-center">
                            <div class="mbr-section-btn">
                                <button type="submit" class="btn btn-sm btn-success display-7 display-6">Check Email</button>
                            </div>
                        </div>

                        <div submit-success="">
                            <template data-form-alert="" type="amp-mustache">
                                result: {{result}}, status: {{status}}, suggested_correction: {{suggested_correction}}
                            </template>
                        </div>
                        <div submit-error="">
                            <template data-form-alert="" type="amp-mustache">
                                Failed! {{error}}
                            </template>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
